[user]
	name = Norbert Sana
	email = neilus@elte.hu
[color]
	ui = true
[alias]
	lol = log --graph --decorate --color --pretty=oneline --abbrev-commit --all
	gog = log --graph --decorate --color --all
[push]
	default = upstream
[core]
	excludesfile = /Users/neilus/.gitignore_global
	editor = vim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
[diff]
	tool = vimdiff
