[Desktop Entry]
Type=Application
Name=x3270
Comment=IBM Mainframe Terminal Emulator
Icon=/home/neilus/.local/share/icons/x3270.jpg
Exec=x3270
Terminal=false
Categories=Mainframe;Terminal Emulator
GenericName[en_US]=x3270
Name[en_US]=x3270

Actions=Connect_VM1;Connect_VM2;Connect_VM3;NewWindow;NewBright;NewReverse;NewGreen;NewCpe;

[Desktop Action NewWindow]
Name=New Terminal
Exec=x3270 -activeicon
[Desktop Action NewBright]
Name=New Bright Terminal
Exec=x3270 -scheme bright
[Desktop Action NewReverse]
Name=New Reverse Terminal
Exec=x3270 -scheme reverse
[Desktop Action NewGreen]
Name=New Green-Terminal
Exec=x3270 -scheme greenScreen
[Desktop Action NewCpe]
Name=New CPE Terminal
Exec=x3270 -scheme cpe


[Desktop Action Connect_VM1]
Name=Connect to VM1
Exec=x3270 -scheme reverse vm1.icss.hu
[Desktop Action Connect_VM2]
Name=Connect to VM2
Exec=x3270 -scheme bright vm2.icss.hu
[Desktop Action Connect_VM3]
Name=Connect to VM3
Exec=x3270 -scheme cpe vm3.icss.hu

